body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:397px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:395px;
  height:731px;
  overflow:hidden;
}
#u1992_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:731px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
}
#u1992_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:6250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:335px;
  height:6250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u1993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u1994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:335px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u1994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:335px;
  word-wrap:break-word;
}
#u1995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:0px;
  width:375px;
  height:490px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1995_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:325px;
  word-wrap:break-word;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1996_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background-image:none;
}
#u1996_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
  line-height:28px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:44px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
  line-height:28px;
}
#u1999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u2001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u2001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:12px;
  width:27px;
  height:22px;
}
#u2002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:14px;
  width:33px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:17px;
  width:15px;
  height:12px;
}
#u2004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:12px;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:17px;
  width:17px;
  height:12px;
}
#u2005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:81px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u2006_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u2006.mouseDown {
  opacity:0.5;
}
#u2006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:55px;
  width:23px;
  height:23px;
}
#u2007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
